* {
	/*border: 1px dashed #0000FF;*/
	font-family: 'Raleway' sans-serif; 
	color: #393c3d;
	font-size: 1em;
}

h3 {
	text-decoration: underline;
}

p {
	font-size: 1.2em;
}

ul {
	list-style-type: none;
	margin:0px;
	padding:0px;
}

.navbar {	
	background-color: rgba(255,255,255,0.9);
	border-bottom: 1px solid #5a5a5a;
	border-top: 1px solid #5a5a5a;
	margin:0px;
	z-index:1;
}

.menu {
	float: left;
	margin: 0em 0em 0em 4em;
}

.menu li {
	padding: 0em 0em 0em 0em;
}

.share-buttons {
	float: right;
	margin: 0em 2em 0em 0em;
}

.share-buttons li {
	padding: 0em 0.5em 0em 0em;
}

.nav a {
	color:#5a5a5a;
	font-weight:bold;
	text-transform:uppercase;
}

.affix {
      top: 0;
      width: 100%;
}

.jumbotron {
	background-color:#f7f7f7;
	height:30em;
	background-image:url("pictures/Flow-Time_Banner.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	position:relative;
	margin: 0px;
}

.jumbotron canvas {
	position: relative;
	bottom: 0em; left: 0em; top: -3.5em; right:0em;
}

.jumbotron p {
	font-size: 2.5em;
	font-weight: 350;
	text-align: center;
	position: relative; bottom: 7em; left: auto; right: auto;
}

.AboutMe p {
	background-color:#fff;
}

.AboutMe img {
	margin: 0em 0em 1em 0em;
}

.research {
	background-color: #f7f7f7;
}

.research img {
	margin: 1.2em 0em 1em 0em;
}

#map {
	height: 30em;
	width: 85%;
}

#funnel {
	height: 30em;
	width: 100%;
}


.publications {
	background-color: #fff;
	margin: 0em 0em 2em 0em;
}

.blog {
	background-color: #f7f7f7;
}

.blog iframe {
	border: none;
	width: 100%;
	height: 38em;
}

.connect {
	height: 4em;
	width: 100%;
}
