* {
	//border: 1px dashed #0000FF;
	font-family: 'Raleway' sans-serif; 
	color: #393c3d;
	font-size: 1em;
}

.body {
	position: relative;
}

h3 {
	text-decoration: underline;
	margin-bottom: 1em;
}

p {
	font-size: 1.2em;
}

ul {
	list-style-type: none;
	margin:0em;
	padding:0em;
}

.navbar {	
	background-color: rgba(255,255,255,0.9);
	border-bottom: 1px solid;
	border-top: 1px solid;
	margin-bottom:0em;
}

.affix {
      top:0;
      width: 100%;
      z-index: 9999;
}

.affix ~ .container-fluid {
     position: relative;
     top: 50px;
}

.menu {
	color: #5a5a5a;
	margin: 0.5em 0em 0.5em 0em;
}

.share-buttons {
	margin-top: 0.2em;
}

.nav a {
	color: #5a5a5a;
	font-weight:bold;
	text-transform:uppercase;
}

.jumbotron {
	background-color:#f7f7f7;
	height:30em;
	background-image:url("pictures/Flow-Time_Banner.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	position:relative;
	margin: 0px;
}

.jumbotron canvas {
	position: relative;
	bottom: 0em; left: 0em; top: -3.5em; right:0em;
}

.jumbotron p {
	font-size: 3.5em;
	font-weight: 950;
	text-align: center;
	position: relative; bottom: 5em; left: auto; right: auto;
}

#AboutMe {
	padding-top: 5em;
}

#AboutMe p {
	background-color:#fff;
}

#AboutMe img {
	margin-bottom:1em;
}

#Research {
	padding-top: 5em;
	background-color: #f7f7f7;
}

#Research img {
	margin-bottom:1em;
}

#map {
	height: 90%;
	width: 90%;
}

#funnel {
	height: 100%;
	width: 100%;
}

#flow {
	height:30em;
}

#interests {
	 border-left: solid;
	 border-bottom: solid;
 }

#Publications {
	padding-top: 5em;
	margin-bottom: 1em;
	background-color: #fff;
}

#Publications img {
	margin-bottom:1em;
 }

#Notebook {
	padding-top: 5em;
	background-color: #f7f7f7;
}

#Notebook iframe {
	border: none;
	width: 100%;
	height: 40em;
}
