* {
	//border: 1px dashed #0000FF;
	font-family: 'Raleway', sans-serif; 
	color: #393c3d;
	font-size: 1em;
}

body {
	position: relative;
}

.jumbotron {
	background-color:#f7f7f7;
	height:30em;
	background-size: cover;
	background-image:url("pictures/main/Flow-Time_Banner.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	position:static;
	margin: auto;
}

#myCanvas {
	position: static; 
	width: 100%;
	margin: auto;
}

.jumbotron p {
	font-size: 3vw;
	font-weight: 300;
	text-align: center;
	position: relative; bottom: 5em;
}

h1 {
	margin-bottom: 1em;
}

p {
	font-size: 1.2em;
}

ul {
	list-style-type: none;
	margin:0em;
	padding:0em;
}

.button {
    background-color: rgba(255,255,255,0.9);
    border: solid;
    border-width: 2px;
    color: #393c3d;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
}

.navbar {	
	border-bottom: 1px solid;
	border-top: 1px solid;
	margin-bottom: 0em;
}

.affix ~ .container-fluid {
     position: relative;
     top: 50px;
}

.icon-bar {
	background-color: #5a5a5a;
}

.menu {
	color: #5a5a5a;
	margin: 0.5em 0em 0.5em 0em;
}

.share-buttons {
	margin-top: 0.2em;
}

.nav a {
	color: #5a5a5a;
	font-weight:bold;
	text-transform:uppercase;
}

.nav img {
	width: 2em;
	height: 2em;
}

#AboutMe {
	padding-top: 7em;
	padding-bottom: 1em;
}

#Research {
	padding-top: 7em;
	padding-bottom: 0.5em;
	background-color: rgba(247,247,247,0.9);
}

#Research img {
	width:100%;
	height:auto;
}

.caption {
	margin-top: 1em;
}

.laxInt1, .laxInt2,.laxFoot {
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.laxInt1 {
	margin: 0.5em 0em 0.5em 0em;
	/* The image used */
	background-image: url("./pictures/main/pull.JPG");
	/* Set a specific height */
	min-height: 500px;
}

.laxInt2 {
	margin: 0.5em 0em 0.5em 0em;
	/* The image used */
	background-image: url("./pictures/main/river.JPG");
	/* Set a specific height */
	min-height: 500px;
}

#interests {
	color:#e1e1e1;
	background-color: rgba(94,94,94,0.4);
	border-left: solid;
	border-bottom: solid;
}

#interests p {
	color:#e1e1e1;
}

#Publications {
	padding-top: 7em;
	margin-bottom: 1em;
	background-color: #fff;
}

#Publications img {
	max-width:100%;
}

#Notebook {
	padding-top: 7em;
	padding-bottom: 1em;
	background-color: #f7f7f7;
}

#Notebook iframe {
	border: none;
	width: 100%;
	height: 40em;
}

.row {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;

}

.col-md-6 {
	margin: 0.5em 0em 0.5em 0em;
}

.polaroid {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #fff;
	margin: 0em 0em 0em 0em;
	padding:0.5em;
	height: 100%;
}

.laxFoot {
	margin: 0em 0em 0em 0em;
	/* The image used */
	background-image: url("./pictures/main/canoe_dream.jpg");
	/* Set a specific height */
	min-height: 300px;
	background-position: bottom;
	background-size: contain;
}

@media screen (max-width: 600px) {
	.col-md-6 {
		width: 100%;
	}
}
